
* {
    margin:0;
    padding:0;
}

body {
    background-color: #ececec;
}
.row {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}
.todolist {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    background-color: white;
    border:1px solid #cbc7c7;
}
.list {
    list-style: none;
    padding:0 20px 0 20px;
    margin-bottom: 0;
}
.todoitem-wrapper {
    padding:10px 0;
    border-bottom: 1px solid #ddd;
}
.todoitem-wrapper:last-child {
    border: none;
}
.todoitem-title input {
    margin-right: 10px;
}
.header {
    text-align: center;
    padding:0 20px 0 20px;
}
.header h1 {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.header input {
    border-radius: 0;
}
.header input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);;
}
.buttonFooterWrapper .button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
.buttonFooterWrapper .add {
    background: url('/src/assets/images/add.svg');
}
.buttonFooterWrapper .search {
    background: url('/src/assets/images/search.svg');
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F4FCE8;
    border-top: 1px solid #ddd;
}
.buttonFooterWrapper {
    display: flex;
}
.filterFooterWrapper {
    display: flex;
}
.filterFooterWrapper .footer-filter {
    margin: 0 3px;
    text-decoration: none;
    color: #000;
    padding: 1px 5px;
}
.filterFooterWrapper .active {
    outline: 1px solid #af2f2f33;
}
